@import url(fontawesome-all.min.css);
/* I may want to change the fonts being referenced */
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Raleway:400,800,900");
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');


     /* body  */
	 body {
        background: #fffdfd;
        /* height: 100vh; */
        font-weight: 400;
        font-family: 'Raleway', 'Roboto';
    }



/*  adjust  */
	@media screen and (max-width: 1680px) {

		body, input, select, textarea {
			font-size: 12pt;
		}

	}

	@media screen and (max-width: 1280px) {

		body, input, select, textarea {
			font-size: 12pt;
		}

	}

	@media screen and (max-width: 980px) {

		body, input, select, textarea {
			font-size: 12pt;
		}

	}

	@media screen and (max-width: 736px) {

		body, input, select, textarea {
			font-size: 12pt;
		}

	}

	@media screen and (max-width: 480px) {

		body, input, select, textarea {
			font-size: 12pt;
		}

	}

	@media screen and (max-width: 736px) {

		#menu > * {
			padding: 1.5em;
		}

	}
