// @import url(fontawesome-all.min.css);
// @import url('https://use.fontawesome.com/a7bffd41d3.js'); 

/* I may want to change the fonts being referenced */
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Raleway:400,800,900");
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

    html {
        height: 100%;
    }

     /* body  */
	 body {
        background: #EFFDFA !important;
        /* height: 100vh; */
        font-weight: 400;
        font-size: 1.125em;
        line-height: 1.6;
        font-family: 'Raleway', 'Roboto';
        min-height: 100vh;
    }

    .content {
        padding: 3rem; 
    }